$gray: gray;
$border: 1px solid white;
$boldBorder: 3px solid white;

body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  height: fit-content;
  width: fit-content;

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .game {
      display: flex;
      flex-direction: column;
      margin-top: 5vh;
      border: $boldBorder;

      .row {
        display: flex;

        .item {
          width: 4vh;
          height: 4vh;
          font-size: 2.8vh;
          cursor: pointer;
        }

        .borderRightBottom {
          border-right: $border;
          border-Bottom: $border;
        }

        .borderRight {
          border-right: $border;
        }

        .borderBottom {
          border-bottom: $border;
        }

        .gray {
          background-color:$gray;
          cursor: default;
        }

        .red {
          background-color: red;
        }
      }
    }

    .topbar {
      display: flex;
      justify-content: flex-start;
      width: 110vh;
      height: 8vh;
      background-color: $gray;
      font-size: 5vh;
      border: $boldBorder;
      cursor: default;

      .title {
        flex: 2;
      }

      .text {
        flex: 1;
      }

      .button {
        flex: 1;
        cursor: pointer;
      }

      .boldBorderLeft {
        border-left: $boldBorder;
      }
    }
    
    .setDifficulty {
      position: fixed;
      top: 30vh;
      left: calc(50vw - 30vh / 2);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 30vh;
      height: 45vh;
      background-color: black;
      border: $boldBorder;
      font-size: 3vh;
      cursor: default;

      .top {
        display: flex;
        justify-content: flex-end;
        background-color: gray;
        height: 12%;
        width: 100%;

        .X {
          width: 30%;
          cursor: pointer;
        }
      }
      .item {
        display: flex;
        width: 100%;
        height: 15%;
        margin-top: 5%;
        margin-left: 5%;

        .radioButton {
          cursor: pointer;
        }
        
        .textarea {
          resize: none;
          height: 50%;
          width: 20%;
          font-size: 2.5vh;
        }
      }
      .buttonNewGame {
        border: $border;
        width: 45%;
        margin-bottom: 5%;
        margin-left: 5%;
        cursor: pointer;
      }
    }
  }
}